


/* start navigation */ 

 

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
 
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
 }

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
      background-clip: text;
 }

.header_area .main-menu .navbar-nav a:hover{
     background-clip: text;

}
.navbar-nav li a{
    color: white;
    
}

 
/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

.cv{
    background-color: rgb(122, 84, 194);
    color: white;
}

/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 


/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
 }

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 1rem;
    margin: 1.9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.6);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(1.30);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #ffffff0a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */ 

/* Services Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 15rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
    background-color: rgb(244, 237, 252);
}

/* End Services Area */ 




/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 


 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

 
/* End Footer */ 








.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgb(188, 173, 214);
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  
  .timeline-badge.warning {
    background-color: rgb(122, 84, 194) !important;
  }
  
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }

 .scroll{
     position: fixed;
     bottom: 120px;
     right: 1px;
      width: 50px;
      background-color: white;

 }

 .changing{
    position: fixed;
    bottom: 350px;
    right: 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: lightblue;
 }
 .changing2{
    position: fixed;
    bottom: 319px;
    right: 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: red;
 }

 .changing3{
    position: fixed;
    bottom: 289px;
    right: 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: green;
 }

 .changing4{
    position: fixed;
    bottom: 259px;
    right: 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: yellow;
 }